body{
    padding:0px;
    margin:0px;
}
.header{
    display:flex;
    justify-content:center;
    padding:10px;
}

.grid-center{
    display:flex;
    justify-content: center;
}
.grid-container{
    display:flex;
}
.grid-row{
    display:block;
}
.grid-item{
    flex:auto;
    padding:5px;
    border-width: 0.01px;
}
.grid-button-container{
    display: flex;
    justify-content: center;
}
.grid-size-button{
    margin-right:10px;
    margin-bottom:10px;
}
.grid-color-reset{
    margin-bottom:10px;
}